
.root{
  /* background-color: #302f2f; */
  background-color: #282e30;
}
body{
  background-color: #282e30;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rozha';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Pathway+Gothic+One&family=Roboto:wght@100;300;400&family=Rozha+One&display=swap');
}
@font-face {
  font-family: 'Indian';
  src: url('../src/components/assets/fonts/samarkan/SAMARN__.TTF');
}

@font-face {
  font-family: 'Laila';
  src: url('../src/components/assets/fonts/Laila/Laila-Bold.ttf');
}
